.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  height: 85px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

  @media (max-width: 980px) {
    height: 56px;
  }

  &__logoLink {
    display: inline-block;
    max-width: 200px;

    @media (max-width: 980px) {
      max-width: 160px;
    }
  }

  &__img {
    width: 100%;
  }
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0 20px;

  @media (max-width: 1200px) {
    max-width: 1590px !important;
  }
}