.footer {
  color: #aeb1be;
  background-color: var(--lightBlack);

  .containerFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'about-us in-touch app'
      'logo in-touch rights';
    padding-top: 80px;
    padding-bottom: 30px;
    gap: 25px;

    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      'about-us about-us'
      'in-touch app'
      'logo rights'
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-areas:
      'about-us'
      'in-touch'
      'app'
      'logo'
      'rights'
    }
  }

  &__column {
    &:nth-child(1) {
      grid-area: about-us;
    }

    &:nth-child(2) {
      grid-area: in-touch;
      justify-self: center;
      padding-bottom: 80px;

      @media (max-width: 600px) {
        padding-bottom: 10px;
      }
    }

    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      grid-area: app;

      @media (max-width: 980px) {
        align-items: center;
      }

    }

    &:last-of-type {
      h3 {
        @media(max-width: 980px) {
          text-align: center;
        }
      }
    }

    h3 {
      @media(max-width: 600px) {
        text-align: center;
      }
    }


  }

  &__link {
    display: inline-block;
    grid-area: logo;
    align-self: end;
    max-width: 161px;

    @media (max-width: 600px) {
      justify-self: center;
    }
  }

  &__logoImg {
    width: 100%;
  }

  &__rights {
    grid-area: rights;
    align-self: end;
    justify-self: end;
    font-weight: 300;
    font-family: var(--main-font);

    @media (max-width: 600px) {
      justify-self: center;
    }
  }

  &__title {
    color: #fff;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: var(--main-font);

    @media (max-width: 600px) {
      margin-bottom: 15px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--main-font);
  }

}

.footerContactsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px 0;
  max-width: 280px;

  &__item {
    display: grid;
    grid-template-columns: 21px 1fr;
    grid-template-areas:
      'icon link'
      'icon subtitle';
    gap: 0 11px;
    font-weight: 400;
    font-family: var(--main-font);


    span:first-of-type {
      grid-area: icon;

      &::before {
        color: #fff;
      }
    }
  }

  &__subtitle {
    grid-area: subtitle;
    font-size: 13px;
    opacity: 0.7;
    font-family: var(--main-font);
    font-weight: 400;

  }

  &__link {
    grid-area: link;
    font-size: 16px;
    color: #aeb1be;
    font-family: var(--main-font);
    font-weight: 400;
  }

}