.objectsManagementListItem {
  &__link {
    position: relative;
    display: grid;
    padding: 20px;
    background-color: #ccc;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 21.05%, rgba(0, 0, 0, 0) 64.3%);
    }

    &:nth-child(odd) {
      aspect-ratio: 100 / 69;
    }

    &:nth-child(even) {
      aspect-ratio: 500 / 627;
    }

  }

  &__img {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: relative;
    z-index: 3;
    align-self: end;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
}

