.mobileApp {
  background-color: var(--lightBlack);

  .containerMobileApp {
    display: grid;
    grid-template-areas:
      'banner title'
      'banner desc'
      'banner mobileApps';
    align-items: center;
    grid-template-columns: minmax(auto, 526px) 1fr;
    grid-template-rows: auto minmax(50px, auto) auto;
    gap: 30px 100px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 980px) {
      grid-template-areas:
      'title'
      'desc'
      'mobileApps'
      'banner';
      grid-template-columns: 1fr;
    }
  }

  &__wrapperImg {
    display: grid;
    grid-area: banner;
    align-self: end;
    margin-top: 30px;
    margin-bottom: -20px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    grid-area: title;
    align-self: end;
    font-weight: 500;
    font-size: clamp(28px, 3vw, 48px);
    line-height: 120%;
    color: #FFFFFF;
    font-family: var(--main-font);
    max-width: 575px;
  }

  &__description {
    grid-area: desc;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #DEDEDE;
    max-width: 640px;
    font-family: var(--main-font);
  }

  .mobileApps {
    align-self: start;
    grid-area: mobileApps;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__link {
      display: inline-flex;
      max-width: 120px;
      transition: opacity var(--transitionTime);

      &:hover {
        opacity: 0.85;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    @media (max-width: 450px) {
      justify-self: center;
      justify-content: center;
    }
  }

}



