.sectionFormFeedback {
  background-color: #fff;
  margin-bottom: clamp(30px, 6vw, 80px);

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title form'
      'subtitle form'
      'img form';
    gap: 20px;
    background-color: #F5F6FA;
    border-radius: 32px;
    padding: clamp(20px, 6vw, 56px);

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
      grid-template-areas:
      'title img'
      'subtitle img'
      'form form';
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-areas:
      'title'
      'subtitle'
      'form';
    }

  }

  &__title {
    grid-area: title;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: clamp(30px, 3vw, 48px);
    line-height: 100%;
    color: #000;
  }

  &__subTitle {
    grid-area: subtitle;
    max-width: 470px;
    font-size: 24px;
    letter-spacing: 0.01px;
    font-weight: 400;
    line-height: 1.45;
    color: #000;
  }

  &__img {
    grid-area: img;
    justify-self: end;

    @media (max-width: 800px) {
      display: none;
    }
  }

}