.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--transitionTime);

  &:hover {
    background-color: transparent;
    color: #4854ED;
    border-color: #4854ED;
  }


}