.aboutComplex {
  padding-top: 80px;
  background-color: #fff;

  .containerAboutComplex {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 911px);
    grid-template-areas:
      'title info'
      'title description';
    gap: 40px 20px;
    padding-top: clamp(30px, 10vw, 80px);
    padding-bottom: clamp(30px, 10vw, 80px);

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      'title'
      'info'
      'description';
    }
  }

  &__title {
    grid-area: title;
  }

  .aboutComplexInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px clamp(20px, 2vw, 40px);

    @media (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    &__item {
      display: grid;
      grid-template-columns: 48px 1fr;
      align-items: center;
      grid-template-areas:
      'icon-wrapper title'
      'icon-wrapper sub-title';
      gap: 8px 20px;
    }

    &__iconWrapper {
      grid-area: icon-wrapper;
      width: 48px;
      height: 48px;
    }

    &__icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      grid-area: title;
      align-self: end;
      font-family: var(--main-font);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: #696969;
    }

    &__subTitle {
      align-self: start;
      grid-area: sub-title;
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      color: #000;
    }

  }

  &__description {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.45;
    color: #000;
    letter-spacing: 0.01px;
  }


}