.sandwich {

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 24px;
    height: 14px;
    cursor: pointer;
    color: var(--lightBlack);
  }

  &__item,
  &__item::before,
  &__item::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--lightBlack);
    transition: var(--transitionTime) ease;
  }

  &__item::before {
    top: -6px;
  }

  &__item::after {
    top: 6px;
  }

  .open {
    background: transparent;

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

}

