.contactsUs {
  &__title {
    grid-area: title;
    font-size: clamp(24px, 4vw, 36px);
    font-family: var(--main-font);
    color: var(--lightBlack);
    font-weight: 400;
  }

  .containerContactsUs {
    display: grid;
    justify-content: space-between;
    grid-template-columns: minmax(auto, 367px) minmax(auto, 1030px);
    grid-template-rows: 40px 1fr;
    grid-template-areas:
      'title wrapperMap'
      'contacts-list wrapperMap';
    gap: 30px;
    padding-top: clamp(30px, 8vw, 90px);
    padding-bottom: clamp(30px, 8vw, 90px);

    @media (max-width: 980px) {
      grid-template-columns: 1fr;
      grid-template-areas:
      'title'
      'contacts-list'
      'wrapperMap';
    }

  }

  &__wrapperMap {
    position: relative;
    grid-area: wrapperMap;
    overflow: hidden;

    @media (max-width: 980px) {
      margin-top: 20px;
    }

  }
}

.contactsUsList {
  grid-area: contacts-list;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    display: grid;
    grid-template-columns: 21px 1fr;
    grid-template-areas:
      'icon link'
      'icon text';
    gap: 5px 11px;

    &::before {
      grid-area: icon;
      color: var(--lightGray);
    }
  }

  &__link {
    grid-area: link;
    font-family: var(--main-font);
    color: var(--lightGray);
    font-weight: 300;
    font-size: clamp(14px, 2vw, 16px);
    line-height: 120%;
  }

  &__subText {
    grid-area: text;
    font-size: 13px;
    line-height: 100%;
    opacity: 0.7;
    color: var(--lightGray);
  }

}