.additionalServicesListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__title {
    font-family: var(--main-font);
    color: var(--lightBlack);
    font-size: clamp(16px, 4vw, 20px);
  }

  &__wrapperImg {
    position: relative;
    border-radius: 6px;
    max-height: 332px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(41, 41, 58, 0.3);
      transition: var(--transitionTime) ease-in-out;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

}