.aboutCompany {
  background-color: #fff;

  .containerAboutCompany {
    display: grid;
    grid-template-columns: minmax(auto, 765px) minmax(auto, 632px);
    grid-template-rows: minmax(54px, auto) minmax(96px, auto) auto;
    grid-template-areas:
      'title wrapperImg'
      'desc wrapperImg'
      'button wrapperImg';
    gap: 30px;
    padding-top: clamp(30px, 8vw, 90px);
    padding-bottom: clamp(30px, 8vw, 90px);

    @media (max-width: 980px) {
      grid-template-rows: initial;
      grid-template-areas:
      'title'
      'desc'
      'button'
      'wrapperImg';
      grid-template-columns: 1fr;
    }

  }

  &__title {
    grid-area: title;
    font-size: clamp(24px, 4vw, 36px);
    font-family: var(--main-font);
    color: var(--lightBlack);
    font-weight: 400;
  }

  &__desc {
    font-family: var(--main-font);
    grid-area: desc;
    font-size: clamp(14px, 1vw, 16px);
    color: var(--lightGray);
    font-weight: 300;
  }

  &__wrapperImg {
    grid-area: wrapperImg;
    max-height: max-content;
    justify-self: end;

    @media (max-width: 980px) {
      justify-self: center;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    grid-area: button;
    align-self: start;
  }


}