.input {
  background-color: transparent;
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #A3A3A3;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000;
  transition: border-color var(--transitionTime) ease;
}