.additionalServices {
  background-color: #fff;

  .containerAdditionalServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(30px, 8vw, 90px);
    padding-bottom: clamp(30px, 8vw, 90px);
  }

  &__title,
  &__subTitle {
    justify-self: center;
    text-align: center;
  }

  &__title {
    font-size: clamp(24px, 4vw, 36px);
    font-family: var(--main-font);
    color: var(--lightBlack);
    font-weight: 400;
  }

  &__subTitle {
    max-width: 600px;
    margin-top: clamp(30px, 4vw, 15px);
    font-family: var(--main-font);
    grid-area: desc;
    font-size: clamp(14px, 1vw, 16px);
    color: var(--lightGray);
    font-weight: 300;
  }

}