.sectionSliderProject {

  .containerSlider {
    max-width: 100%;
    padding: 0;
    height: calc(clamp(70vh, 50vw, 100vh) - 85px);
  }

  .containerSliderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  .content {
    position: absolute;
    z-index: 2;
    bottom: 56px;
    width: 100%;
  }

  .title {
    text-align: center;
    font-weight: 500;
    font-size: clamp(40px, 6vw, 64px);
    line-height: 1;
    color: #fff;
    font-family: var(--main-font);
  }

  .mySwiper {
    position: relative;
    height: 100%;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 12.5%, rgba(0, 0, 0, 0) 63.02%);
    }
  }

  .swiperImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .customButton {
    position: absolute;
    top: calc(50% - 32px);
    z-index: 3;
    background: rgba(215, 215, 215, 0.12);
    backdrop-filter: blur(20px);
    width: 64px;
    height: 64px;
    border-radius: 50px;
    opacity: 1;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      height: 1em;
      width: 1em;
      mask-size: contain;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-position: center;
      font-size: 16px;
      background-color: #fff;
      mask-image: url('/icons/arrow-right.svg');
    }
  }

  .customButtonPrev {
    left: 50px;
    transform: rotate(-180deg);
  }

  .customButtonNext {
    right: 50px;
  }

}


