.advantagesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  &__item {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: minmax(30px, auto) 1fr;
    grid-template-areas:
        'icon title'
        'icon paragraph'
  ;
    gap: 20px;

    & > p:first-of-type {
      grid-area: icon;
      align-self: start;
      justify-self: center;
      color: #4854ed;
      font-size: clamp(24px, 4vw, 36px);
      line-height: 36px;
    }
  }

  &__title {
    grid-area: title;
    align-self: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: var(--lightBlack);
    font-family: var(--main-font);
  }

  &__paragraph {
    grid-area: paragraph;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #74757f;
    font-family: var(--main-font);
  }

}
