.sectionBreadCrumbs {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(41, 41, 58, 0.8), rgba(41, 41, 58, 0.5));
  }

  .containerBreadCrumbs {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 24px 1fr 1fr;
    padding-top: clamp(30px, 15vw, 80px);
    padding-bottom: clamp(30px, 15vw, 80px);
    min-height: clamp(232px, 40vw, 456px);
  }

  &__titleDecorated {
    display: flex;
    align-items: center;
    gap: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #aeb1be;
    font-size: 16px;

    &::before {
      content: '';
      width: 30px;
      border-bottom: 1px solid;
      border-bottom-width: 2px;
    }
  }

  &__title {
    align-self: start;
    margin-top: 10px;
    color: #fff;
    font-size: clamp(30px, 4vw, 68px);
    font-weight: 400;
    font-family: var(--main-font);
  }

}